[2014-01-07 13:56] intinig opened #1 "Implicit dependency: utils"
I don't know if it's expected to behave like this, but the following script

[code]

fails because it can't load lotus/utils/string. Nowhere in the gemspec router depends from utils though.

[2014-01-26 21:03] #1 closed, assigned to nobody

[2014-01-29 16:42] aderyabin opened #3 "Example from blog doesn't work"
I'm trying to execute code from your last post.

[code]

but it doesn't work with this trace:

[code]

[2014-01-29 18:58] #3 closed, assigned to nobody

[2014-03-13 01:43] troyk opened #5 "The lotusrb tag for stackoverflow does not exist."
I posted a question but do not have the 1500 reputation to create the tag...  Here is my question: http://stackoverflow.com/questions/22367474/how-to-use-lotus-router-with-rackbuildermap

I like the idea of so for questions, but hopefully someone with 1500+ can create the tag!

[2014-03-13 08:57] #5 closed, assigned to nobody

[2014-06-27 17:24] allenlsy opened #13 "undefined local variable or method `uncompile'"
When I try the get started sample code, and run it with `rackup`, I encountered this error

[code]

[2014-06-30 09:21] #13 closed, assigned to nobody

[2014-07-03 09:35] lengarvey opened #16 "Serialise router into array of routes/test"
It would be useful to be able to take a `Lotus::Router` instance and serialise it either into a string in order to allow for a command like `lotus routes` (or `rake routes`) or into an array of intermediate objects which could be easily transformed into a different format (like text).

Support for this (I think) should be added to the router and then we can very quickly implement something like de

[2014-08-19 16:46] twe4ked opened #19 "Collection routes on resources cause conflicts with show action"
See [this gist](https://gist.github.com/twe4ked/89c1e2c4c763a56725e3).

Going to `/episodes/download_info` seems to be hitting the episodes show route with an `id` of `download_info`.

[2014-08-22 14:46] #19 closed, assigned to jodosha

[2014-09-22 07:17] nackjicholson opened #20 "How would I inject dependencies into controllers (or anything else)?"
Is there a technique I'm unaware of for injecting dependencies into the controllers. Or with `lotus/lotus` I might want to inject dependencies into view classes as well, can't figure out how I would go about that either.

I was looking through `endpoint_resolver.rb` and it occurred to me that with the way it makes instances of the action class, I don't have a clear way to inject dependencies into

[2014-09-22 12:39] #20 closed, assigned to jodosha

[2014-11-07 11:45] #16 closed, assigned to jodosha

[2014-11-10 17:13] jodosha opened #28 "Lotus::Controller integration: change default controller/action naming"
Lotus::Router has a Lotus::Controller integration for controller/action naming.

If we define an endpoint with the `'welcome#index'` syntax, it creates the following pattern by default: `Welcome(::Controller::|Controller::)Index`. With this in mind, it looks for `Welcome::Controller::Index` or `WelcomeController::Index`, otherwise it raises a `NameError` for the missing constant.

In Lotus (lotus/

[2014-11-14 13:26] #28 closed, assigned to jodosha

[2014-11-25 11:20] Jesterovskiy opened #33 "New release"
Hi. When you plan make release with new changes? I really need some router functional in main lotus repo =) Maybe I can provide some help to do this?

[2014-12-03 18:46] #33 closed, assigned to jodosha

[2014-12-03 18:54] jodosha opened #34 "Router#inspector should return routes from mounted applications"
Right now when we create routes directly in the router, the inspector works fine.

[code]

When we use it with mounted routers or full stack Lotus apps, it doesn't return the expected output.

[code]

Hint: `Lotus::Application` responds to `#routes`, we should make `Lotus::Router` to respond to the same method as well. So `Inspector` can internally do something like.

[code]

[2014-12-07 17:06] #34 closed, assigned to nobody

[2015-02-10 19:38] Emily opened #41 "Allow configuration of default routes for `resource`/`resources`"
While I think the current set of routes generated by `resources` is a reasonable default, the inability to customize, or reuse chunks of routes is somewhat cumbersome when an app deviates from that particular set of routes.

For instance, http://jsonapi.org/ requires supporting PUT for updates, and allows APIs to optionally support PATCH (with a very specific format). When building an API that con

[2015-02-10 20:25] jodosha commented on #41
@Emily Thanks for opening this discussion.
We're keen to make the set of routes more flexible. I don't like concerns or special `json_api_resources`.

This sounds good, but I'm afraid I haven't got what you mean in terms of code. Can you please expand this concept?

That would be really appreciated :+1:

Which are your stopping points? Which Lotus components are you using?

Thank you very much.

[2015-02-10 21:38] Emily commented on #41
So by allowing resources to be configured, I really mean configuring Lotus::Router (whether at the class level or instance level) to change the set of routes that `resources` generates.

So code wise:

[code]

That's what Lotus' current defaults would look like.

And so a modified one might look like:

[code]

`name:` is a bad key name (I couldn't think of a better one yet), but the idea is that i

[2015-02-11 09:12] jodosha commented on #41
@Emily Thanks for the great reply.

### Class vs instance configuration

Lotus::Router is the one of the few Lotus framework that don't need class level configurations. I would keep it as it is, so those configurations should be moved at the instance level.

The reason is simple. When class level configurations are involved, multiple instances of a framework can't live together in the same Ruby pr

[2015-02-16 19:49] Emily opened #42 "Issues around nested routes"
So Lotus router lets you do this, and doesn't complain:

[code]

But if we do `puts router.inspector`...

[code]

...it gives us complete nonsense.

Same thing for:

[code]

[code]

So from here I see two options:

1. Decide that nested resources are evil, and explicitly disallow them. (And I can totally see arguments for this).
2. Make it work in a more expected manner.

If nested resources were

[2015-02-19 10:28] TigerWolf opened #43 "Routing gotcha - order of mounting"
First time lotus user, hope this is in the right place.

First thing that tripped me up was in `environment.rb` - if you set it up like:

[code]

The `/api` will never get exposed. If you change it to:

[code]

Then it works as expected.

Without looking into the internals of lotus, I'm guessing that in the first example `Web::Application` is taking over all routing.

[2015-02-19 10:52] TigerWolf commented on #43
Please see the following failing test:

https://github.com/TigerWolf/lotus/compare/tests/multiple_router_order?expand=1

Would be happy to move close this issue and re-create on https://github.com/lotus/lotus if it is preferred.

[2015-02-19 11:35] jodosha commented on #43
@TigerWolf yes, that is a well known issue.

The reason is that internally it uses `/api*` and `/*` namespaces. If you use `/*` before, it shadows the others because it acts as a "_too greedy catch all_".

We already have a solution in mind, but it takes time to implement. https://trello.com/c/LbpVBQuL/23-flatten-routes

Closing this for now, sorry for the poor experience.

[2015-02-19 11:35] #43 closed

[2015-02-19 11:42] TigerWolf commented on #43
Good to know it's a known issue. Thanks for looking into this quickly.

[2015-02-20 14:51] AlfonsoUceda commented on #42
@Emily the first example raises an exception for me:
[code]

[2015-03-04 07:57] jodosha commented on #42
@Emily Sorry for taking so long to reply. My apologize.

### First example

I can confirm what @AlfonsoUceda said:

[code]

I'm running that command from my local copy of `lotus-router` repository. My `Gemfile.lock` is:

[code]

### Second example

You're right, this is a bug. I'm for keeping nested resources. We can discuss if they are good or not, but those can be required for API endpoints that

[2015-03-04 15:58] gzigzigzeo opened #44 "Namespaced controllers and lazy lookup"
I have Admin namespace for actions in my application.

[code]

expected to open `Web::Controllers::Admin::Coupons::Index` but fails with `Lotus::Routing::EndpointNotFound: wrong constant name Admin/coupons`.

`Rack::Utils::String#constantize` does not support namespaces like ActiveSupport do. Would it be right way to implement namespacing support in Rack::Utils?

[2015-03-04 21:53] jodosha commented on #44
@gzigzigzeo Yes, I think that it can be addressed in Utils. Would you love to take care of it? Thank you.

[2015-03-04 22:01] gzigzigzeo commented on #44
@jodosha sure, i'll take it.

[2015-03-05 11:25] gzigzigzeo commented on #44
@jodosha Close it please

[2015-03-05 23:29] jodosha commented on #44
Resolved by https://github.com/lotus/utils/pull/65

[2015-03-05 23:29] #44 closed

[2015-03-09 10:50] AlfonsoUceda commented on #42
In my experience I believe nested routes are useful but only one level, imagine you want get comments by post:
`/post/1/comments/`
For my this is useful but more nested routes are useless, eg:
`granparents/1/parents/1/children`
Can be converted to:
`granparents/1/parents`
`parents/1/children`
because only need the :parent_id to get children

[2015-03-17 12:13] Erol opened #46 "Customize JSON parsing errors"
I've been using Lotus::Router (with Lotus::Controller) in building an API, and I find the ability to specify JSON parsing via `Lotus::Router.new parsers: [:json]` very convenient. However, the router responds with a very verbose message and stacktrace when a parsing error is encountered:

[code]

Is there a way to silence or customize the error response when running on production? I'm willing to s

[2015-03-20 14:49] jodosha opened #47 "Nested RESTful resource(s)"

[2015-03-20 14:50] jodosha commented on #42
@Emily I think I committed I mistake while triaging this issue: the following syntax isn't something that we want to support.

[code]

This looks like a workaround for nested RESTful resources. I'm closing this, because it isn't a bug, if it doesn't show the right output for unsupported feature.

I think we need proper nested RESTful resources. Opened a ticket for this: https://github.com/lotus/ro

[2015-03-20 14:50] #42 closed

[2015-03-20 15:04] jodosha commented on #46
@Erol Thanks for reporting this problem. I'd love to leave Router as it is: a Rack middleware which isn't aware of error handling. The reason is that, for full stack Lotus apps, `lotusrb` handle errors, while other custom scenario like yours may use ad-hoc Rack middleware and/or solutions.

### Ready solution

`rack-errors` (if still maintained) is a good candidate.

### Custom Rack middleware

[c

[2015-03-21 01:12] Erol commented on #46
Oh yeah, I haven't considered writing/using a middleware to handle exceptions. I'll go with that approach. Thanks!

[2015-03-23 12:52] cgarvis opened #48 "Domain based routing"
How would lotus router handle routing based on domains and/or subdomains?

[2015-03-29 20:02] bfad opened #49 "Non-Standard Port Missing When `router.url` Called"
When calling `router.url` when running on a non-standard port, the port number is not included in the URL.

Example Code
[code]

If you then visit `http://localhost:2300/` it returns `http://localhost/`

It would be nice if Lotus router checked the port against the protocol and included the port in the URL if it was not the standard for the protocol.

[2015-03-30 07:14] AlfonsoUceda commented on #49
@bfad router accepts options parameter:
[code]

[2015-03-30 09:29] joneslee85 commented on #48
@cgarvis can you please give one example?

[2015-03-30 15:15] cgarvis commented on #48
Basically something like [rack-subdomain](https://github.com/mattt/rack-subdomain)

[2015-04-02 11:43] bfad commented on #49
How would you pass in the port that was passed to rackup? (I'd rather not hard-code something that actually will change based on how the server is started from the command-line)

Also, this looks like a nice work-around, but what would be the reason for router.url not detecting non-standard ports and adding them to the URL since it's necessary?

[2015-04-04 16:28] nicocharlery opened #50 "Nested resources restrictions"
First, thank you for this great framework.

The issue I have is when nesting resources, I can't restrict the routes available by using `:only`

[code]
I have the following output when running `bundle exec lotus routes`:

[code]
While I was expecting to only have this:

[code]

[2015-04-07 08:40] jodosha commented on #50
@nicocharlery The reason is that nested resources aren't supported yet. We have a [ticket](https://github.com/lotus/router/issues/47) open and @AlfonsoUceda is implementing them in these days.

Please keep an eye here for the upcoming PR. Closing this. Thank you. :+1:

[2015-04-07 08:40] #50 closed

[2015-04-07 09:05] jodosha commented on #49
@bfad `Lotus::Router` is an object that expects that value in the constructor. As @AlfonsoUceda mentioned, if you pass it, it works as expected. The reason to not auto detect Rack env is simplicity and less magic.

I guess you're using `rackup`, but that means for us to reproduce their CLI arg parsing here. It has a cost of maintenance and it may not solve this problem (eg. if you use `puma` CLI),

[2015-04-07 09:05] #49 closed

[2015-04-07 15:11] bfad commented on #49
Thanks for filling me in on the philosophy here. My thought processes was not that the command-line arguments needed to be parsed but that the rack environment variables could be parsed to get the HTTP_PORT. I guess that's still a bit of behind-the-scenes magic that may not work in all contexts. Thanks again.

[2015-04-21 21:06] danelowe opened #53 "path and url for mounted application don't include mount point"
Please point me in the right direction if I am doing this wrong.

To reproduce, I created a new lotus application

`lotus new test`

I changed the mount point for the 'Web' app from '/' to '/test', and added a resource to `app/web/config/routes.rb`

[code]

in `apps/web/templates/home/index.html.erb` I added `<%= Web::Routes.path(:pigs) %>`

Started the server and looked at the page, the path rend

[2015-04-22 01:39] joneslee85 commented on #53
@danelowe it is a known issue, because routings are not flatten atm. It is on our roadmap. For now, please workaround the issue by create your own routing helper and append the `/test` prefix.

[2015-04-22 01:39] #53 closed

[2015-04-25 20:33] AlfonsoUceda commented on #48
@cgarvis do you tell handle routes like 'api.my_host.com' or 'admin.my_host.com' ???

[2015-05-11 12:25] jodosha commented on #47
Closed by #51 :confetti_ball:

[2015-05-11 12:25] #47 closed

[2015-05-11 12:26] jodosha commented on #41
@Emily Any news on this?

[2015-05-20 21:52] jodosha commented on #41
@Emily Closing this, feel free to reopen in case you want to resume the discussion. Thank you.

[2015-05-20 21:52] #41 closed

[2015-05-22 14:32] darwinrc opened #54 "Routes broken after updating to 0.4.0"
After updating Lotus to 0.3.1 (lotus-router to 0.4.0) I am getting Lotus::Routing::InvalidRouteException: HttpRouter::TooManyParametersException in all my routes

This is the configuration of my current routes:

https://gist.github.com/darwinrc/c7a4457ffe27de573d25

[2015-05-22 15:12] AlfonsoUceda commented on #54
@darwinrc can you post a backtrace?

[2015-05-22 15:23] darwinrc commented on #54
Here's the trace: https://gist.github.com/darwinrc/c1ee0a291128784a56c5

[2015-05-22 15:25] darwinrc commented on #54
And here's my lotus routes: https://gist.github.com/darwinrc/1db5c0ff3c7aca3ec235

[2015-05-22 15:28] AlfonsoUceda commented on #54
@darwinrc can you paste this line? `/home/darwin/dev/kommit/mobijob/mobijob-backend/apps/web/views/application_layout.rb:21:in `new_job_path'`

[2015-05-22 15:35] darwinrc commented on #54
Web::Routes.path(:jobs, :new)

[2015-05-22 15:41] AlfonsoUceda commented on #54
@darwinrc try `Web::Routes.path(:new_job)`, and if you updated lotus gem, you can use routes helpers in view. In your application.rb there is a view.prepare block:
[code]
then this module is injected https://github.com/lotus/helpers/blob/master/lib/lotus/helpers/routing_helper.rb
and you can replace `Web::Routes.path(:new_job)` with `routes.new_job_path`

The same for controllers, but this behavio

[2015-05-22 16:00] darwinrc commented on #54
I made the changes and it worked! I called it with routes.new_job_path. I'm proceeding with the update then.

Thanks a lot, @AlfonsoUceda

[2015-05-22 16:03] jodosha commented on #54
@darwinrc I'm closing this. @AlfonsoUceda Thank you :+1:

[2015-05-22 16:03] #54 closed

[2015-05-26 13:33] AlfonsoUceda opened #55 "Fails using mount with an app in lotus router"
The following example shows a simple config about lotus router, two cases:

This scenario mount an app with it's routes
[code]

This scenario is the normal case.
[code]

[2015-06-03 09:41] jodosha commented on #55
@AlfonsoUceda Can you please give fix it? Thank you.

[2015-06-03 09:51] jodosha opened #56 "Force SSL"
Introduce a new option for `Lotus::Router` constructor: `force_ssl`. It accepts a boolean. When it's true and the router receives a non-encrypted request (`http`), it redirects to the secure equivalent resource (`https`). It should use a `301` HTTP status code.

[2015-06-04 10:05] AlfonsoUceda commented on #48
ping @cgarvis

[2015-06-08 08:26] #55 closed

[2015-06-16 16:36] #56 closed

[2015-06-24 02:41] vyper opened #60 "Error in lotus routes using arch app"
# Create sample app
[code]

# Generate an action

[code]

# Route is ok
[code]

# Error
[code]

[2015-06-27 01:26] #60 closed

[2015-06-29 13:04] theocodes opened #63 "Issue with app and resource with the same name causing weird behaviour on the inspector"
Say we have an app called awards within a container arch mounted `at: '/awards'`
If we add `resources :awards` to routes
when running `lotus routes` the inspector does not output the right thing.

[code]

when it should be:

[code]

Here's a setup with the issue and a failing test.
https://github.com/theocodes/routertest

Note: Using master

Thanks

[2015-06-29 13:55] theocodes commented on #63
I'm working on this.

[2015-07-02 06:59] jodosha commented on #63
/cc @AlfonsoUceda

[2015-07-03 07:51] jodosha commented on #63
@theocodes I assume that https://github.com/lotus/utils/pull/82 fixed this problem. Would you love to write a test here that proves that the problem is solved? So we can be double sure that `PathPrefix` was the root cause of this issue.

Thank you very much! :dancer:

[2015-07-03 07:54] AlfonsoUceda commented on #63
@jodosha he made this PR https://github.com/lotus/router/pull/64/files

[2015-07-03 07:56] jodosha commented on #63
@AlfonsoUceda :sparkling_heart:

[2015-07-03 08:06] jodosha commented on #63
Closed by #64

[2015-07-03 08:06] #63 closed

[2015-07-05 07:48] joneslee85 commented on #48
ping @cgarvis

[2015-07-05 17:21] cgarvis commented on #48
Yes.  Basic I want to be able to mount different apps on different domains/subdomains.

[2015-07-07 01:15] vyper opened #65 "Strange routes for two mounted apps"
I used a container with two apps:
- web
- api

But the routes' behaviour is very strange.

[code]

I get this results for `lotus routes` command:
[code]

To get the expected behaviour I changed my source as follows:

[code]

Results:

[code]

When I consume the `http://localhost:2300/api/pets` endpoint it works:
[code]

But, when I try to reach `http://localhost:2300/` I got a `404 Not found`:
[co

[2015-07-07 06:47] jodosha commented on #65
@vyper Hello and thanks for reporting this. Which version of `lotus-router` are you using? Does current `master` solves your issue? @AlfonsoUceda did some fixes for route prefixes that are now living in master. Would you mind to try and let us to know? Thank you! :mouse:

[2015-07-08 01:01] vyper commented on #65
I was using: lotus-router (0.4.1).
Now, I changed to `master` (0.4.2) and it's worked. (:

[2015-07-08 01:01] #65 closed

[2015-09-14 08:18] jodosha commented on #48
I'm gonna close this, we can consider this feature for the future.

[2015-09-14 08:18] #48 closed

[2015-10-01 16:29] theocodes opened #69 "Wrong generation of name for named routes."
Hey all :+1:

Just picked up this one today..

when doing something like this in the `routes.rb` file:

[code]

will result in this:

[code]

Thinking it was something related to it ending in 'es' (which i'm still not 100% convinced it isn't) i tried other words such as `:moustaches` and `:stones` and they worked fine. Intriguing huh? ;-)

This is on 0.5.0 and has been around for quite sometime as

[2015-10-05 09:27] #69 closed

[2015-10-05 09:34] jodosha commented on #69
Hey @theocodes this has been fixed. :wink:

[2015-10-07 14:11] jodosha commented on #69
@theocodes FYI - Since Lotus v0.6.0, there will be possible to customize inflections: https://github.com/lotus/utils/pull/90

[2015-10-07 14:14] theocodes commented on #69
@jodosha cool! The will come in handy for sure! :)

[2015-11-04 15:17] vlazar opened #73 "Server error when using force_ssl true and running server with rackup"
[code]

[code]

[code]

[code]

[2015-11-04 15:24] vlazar commented on #73
For the reference.

I've traced this error by getting [H17 - Poorly formatted HTTP response](https://devcenter.heroku.com/articles/error-codes#h17-poorly-formatted-http-response) errors on Heroku in Lotus application started with ```bundle exec puma -C ./config/puma.rb```

[2015-11-06 11:37] #73 closed

[2015-11-11 01:17] chrismcleod commented on #20
Something like this worked for me (dont like re-opening classes though):

[code]

[2015-11-18 09:14] thhermansen commented on #46
Hi @jodosha. First of all. Thanks for working on Lotus! We begun using it at work for a few months now and it has been a joy so far.

I have a question related to this issue:

Your suggestion of rescuing `JSON::ParseError`, either in a middleware or in the Lotus application seemed ok at first though. Whenever a `JSON::ParseError` was raised we could rescue it and halt the request with a `400 Bad R

[2015-11-18 10:29] jodosha commented on #46
@thhermansen Hey, my suggestion was related to standalone usage of `lotus-router`, which doesn't support for rescuing exceptions and translate them into HTTP status codes. This is a feature of `lotus-controller` and, so of `lotusrb`.

For this use case (standalone usage), you have to manually catch the exception and return the appropriate code.

I see what you mean. The problem is that, if we rais

[2015-11-20 19:30] thhermansen commented on #46
Thanks for your answer. I'm not 100% sure if I'm totally convinced. We did solve in in our application locally by raising an specific parse-error, thus getting the behaviour we wanted.

[2015-11-21 10:18] jodosha commented on #46
@thhermansen Code or din't happen :wink:

Do you have a concrete code example to share with the rest of us. Thank you very much. :smile:

[2015-11-21 13:27] thhermansen commented on #46
A simple and very JSON specific implementation can be seen [here](https://github.com/gramo-org/echo_common/blob/master/lib/echo_common/lotus/routing/parsing/json_parser.rb). The BodyParseError can be handled in a middleware. I guess if something like this was to be pulled in to the framework the error the parser raised had to be well defined and as you wrote, every well written body parser should

[2015-11-23 08:45] jodosha commented on #46
@thhermansen Thank you, do you also have a stacktrace of the exception (without the `rescue` clause)? Thank you!

[2015-11-23 21:33] thhermansen commented on #46
Sure, here you go:

[code]

[2015-11-25 15:17] Nerian opened #75 "Multiple endpoints to the same segment with different http verbs"
Hi,

Given this two routes:
[code]

$ lotus routes shows that:

[code]

But when the last route is used, a 405 is returned.

More details:
[code]

[2015-12-05 19:33] AlfonsoUceda commented on #75
hey @Nerian sorry for the late response, how do you get the error? is only in lotus::router or in a  full lotus app?

[2015-12-06 00:14] Nerian commented on #75
Hi,

I tested it in a full lotus app.

Though I am not the one that originally had the issue; I just reported it. The conversation was in https://gitter.im/lotus/chat?at=5655ad2acac1354864a6e25f

@jodosha thought it was an http_router bug.

[2015-12-08 09:22] AlfonsoUceda commented on #75
Hi @Nerian sorry by the late response but this because of CSRF protection, you should disable it.

cc @jodosha

[2015-12-12 14:50] AlfonsoUceda commented on #75
Closing issue

[2015-12-12 14:50] #75 closed

[2015-12-15 13:57] #46 closed

[2016-01-03 15:42] SleeplessByte opened #80 "router#params not merged into action#params on request with validations"
Given a `:patch` request to `/myfoo/:id` with some data
[code]

With `params` validations
[code]

Accessing the `params` in a controller:
[code]

But `router.params` does report
[code]
-------------------

Adding
[code]

[2016-01-12 11:28] jodosha opened #82 "Print extra line at the end of routes inspection"
When multiple applications are present in a Lotus project, the output of `lotus routes` is cluttered because the lack of extra blank line between groups of routes:

Steps to reproduce:

[code]

Expected would be:

[code]

---
Ref #78
/cc @davydovanton

[2016-01-12 11:35] davydovanton commented on #82
good idea I think :+1:
but may be is better to create smth like this:
[code]

[2016-01-12 12:53] jodosha commented on #82
@davydovanton With that lines they look grouped like illustrated by the following screenshot:

![screen shot 2016-01-12 at 13 51 14](https://cloud.githubusercontent.com/assets/5089/12263991/ca284530-b933-11e5-8fc7-78586f5ee9ec.png)

[2016-01-12 18:45] davydovanton commented on #82
so, @jodosha may be is better create smth like this?
[code]

[2016-01-13 10:11] jodosha commented on #82
@davydovanton It's way better. It will be probably appear like this instead:

[code]

The last router in a full stack project doesn't know that it's the last one to be inspected, so the last line will probably be there. But I don't mind.

[2016-01-13 10:13] jodosha commented on #80
@SleeplessByte We're in favor of clarity and explicitness. Please for now whitelist params from router too.

[2016-01-13 10:13] #80 closed

[2016-01-13 12:33] davydovanton commented on #82
nice, I'm pleased that we have agreed :)

I'll do it today.

[2016-01-13 19:06] SleeplessByte commented on #80
:+1: Fine with me, but this should be documented because it is only documented that using a router param will give access to it in params, when it clearly doesn't in this case :) @jodosha

[2016-01-13 21:40] AlfonsoUceda commented on #82
@davydovanton thanks ;)

[2016-01-19 12:48] jodosha commented on #82
Fixed by #83

[2016-01-19 12:48] #82 closed

[2016-01-22 13:34] weppos opened #85 "The router crashes when the body is a JSON array"
I was able to reproduce the error [here](https://github.com/weppos/hanami-router/commit/5ea3b15b96094c5d9da903648b56db69219ff95c).

[code]

[code]

This is an example of a request

[code]

Of course, the tricky part is how this case should be handled in the `params` as it implies the `params` can also be an `Array`, instead of always a `Hash`.

It's possible to use a constant key, for example `_`,

[2016-01-25 11:56] #85 closed

[2016-01-25 16:27] stravid opened #87 "Setting SCRIPT_NAME environment variable when mounting Rack apps"
When I setup [Sidekiq with Hanami](http://www.strauss.io/blog/2016-use-sidekiq-with-hanami.html) I ran into an issue when mounting the Sidekiq web interface within an applications route or the container. All URLs for links and assets in Sidekiq were broken because they pointed to the root of my Hanami application even if I mounted it at `/sidekiq` for example.

Turns out [Sidekiq uses `SCRIPT_NAME

[2016-01-27 19:45] sebastjan-hribar opened #88 "double slashes in routes when testing with capybara"
Hi,

Since I've upgraded from Lotus 0.5.0 to Hanami 0.7.0 I'm getting the failure below for my feature tests:

[code]

I haven't changed my tests, I have the same routes setup and under Lotus 0.5.0 I still don't get these failures.

This is the feature test I have:
[code]
Here are my routes:

[code]

The current_path from the above block as printed in the terminal is
[code]
When I go through the a

[2016-01-27 23:06] davydovanton commented on #88
@sebastjan-hribar hello!
I can reproduce this bug on my hanami project too (in gemfile -> `lotusrb (0.6.0)`)

[2016-02-02 14:27] #88 closed

[2016-02-04 14:40] jodosha commented on #87
There is a PR by @cyphactor that should fix this problem directly into `http_router` (See https://github.com/joshbuddy/http_router/pull/43).

If there isn't a quick merge and release of `http_router`, we can act now and port that patch here. To solve this kind of problems that we had in the past `Hanami::Router` wraps `Hanami::Routing::HttpRouter` which is a subclass of `HttpRouter` (from `http_ro

[2016-02-04 16:29] cyphactor commented on #87
I still haven't seen any movement on the http_router PR (https://github.com/joshbuddy/http_router/pull/43) sadly. Hence, I don't expect there to be any movement in terms of getting it merged in and released any time soon.

@jodosha I will try to port it to hanami-router today and get a PR up.

[2016-02-12 08:16] jodosha commented on #87
Closed by #91 Thanks to @cyphactor :clap:

[2016-02-12 08:16] #87 closed

[2016-02-18 02:48] cyphactor opened #92 "hanami routes fails when Sinatra app mounted in container"
It seems in the scenario where you have a Container architecture hanami app and have a Sinatra app mounted it blows up with an exception because the inspector assumes a `Hanami::Router` instance. I discovered this because I was mounting Sidekiq's web interface into my hanami container application as follows:

[code]

The following is the traceback. I believe it would potentially be as simple as ch

[2016-02-18 02:53] cyphactor commented on #92
After further digging maybe I am wrong about the solution. Maybe it is a problem with the identification of it being a `nested_router` as seen in the calling method below:

[code]

[2016-02-18 02:59] cyphactor commented on #92
Yeah, after further digging I am more convinced of the latter as it is even described in the description of the `router.nested_router` method as seen below.

[code]

So the intent of the `nested_router` method is to identify if there is a wrapped `Hanami::Router`. In this case there is a wrapped Sinatra application that happens to respond to `routes` but returns a hash representation rather than a

[2016-02-19 08:33] #92 closed

[2016-02-25 06:35] thomas07vt opened #96 "Documention/Implementation of handling router errors"
Hi, I am trying to user your router in a stand alone app (without the Hanami framework) and I am wondering if there is any documentation around how to handle errors before the request gets to a controller. For instance, how should I handle parsing errors?

Lets say I have this router implementation:
[code]

And in my config.ru I have something like this:

[code]

If I pass invalid JSON to /books,

[2016-02-25 08:18] jodosha commented on #96
@thomas07vt Hey, thanks for the question.

What about this?

[code]

There are a few gems that follow this approach. On top of my mind: `rack-rescue` and `rack-robustness`

---

If you're using `hanami-router` in combination with `hanami-controller` (read more at [JSON API Apps With Lotus](https://lucaguidi.com/2015/11/24/json-api-apps-with-lotus.html)), you can leverage `Hanami::Action` [exceptio

[2016-02-25 08:18] #96 closed

[2016-03-02 19:20] cllns opened #97 "Automatic root_path helper?"
Making a `hanami` app and defining a route at `'/'`, I expected I'd have access to a `routes.root_path` helper, but I had to add `as: :root` in order to get it.

This could that I'm accustomed to Rails, and that `hanami` prefers to be explicit, but automatically adding a `root` path for `'/'` seems like a nice feature :)

[2016-03-03 08:33] jodosha commented on #97
@cllns Thanks for this suggestion, how should be the exact usage in terms of code?

[2016-03-03 23:18] cllns commented on #97
If my routes file looks like:
[code]

Now:
[code]

Desired:
[code]

So you'd get access to `routes.root_path`, `routes.path(:root)`, `routes.url(:root)`.

So essentially, if you ever have a route for `'/'`, it gets an automatic `as: :root`.

The other option is to add `root` ([like Rails](http://guides.rubyonrails.org/routing.html#using-root) has), which essentially `get '/' to: ...` but I'm not a

[2016-03-07 14:03] jodosha commented on #97
@cllns

:-1:

That would mean:

[code]

Okay. :+1: Would you like to implement it?

[2016-03-07 19:25] cllns commented on #97
@jodosha Yup, I can add `root`!

[2016-03-08 13:50] #97 closed

[2016-03-21 13:53] jodosha opened #100 "URI.escape is obsolete"
`Hanami::Routing::HttpRouter#rewrite_partial_path_info` is using `URI.escape`, which is deprecated. We need to update the implementation of that method.

[2016-03-22 14:43] #100 closed

[2016-04-07 11:43] habutre opened #103 "Resources ending up with *ices has the 's' removed (singularized?)"
When I declare resources like: `resources :prices` the result is:

[code]

I expected get the price pluralized on `Index` and `Create` actions.
Researching about plurals in words ending up with **ice** I could not realized why such words are losing the last `s` in hanami-router.
Is there any reason for it?

[2016-04-15 12:54] jodosha commented on #103
@habutre Hey, thanks for reporting this issue and sorry for taking so long to reply.
I confirm that this is a bug for our inflector. We'll fix this.

In the meantime, you can patch your `config/routes.rb` like this:

[code]

It will be able to use the right English rule:

[code]

[2016-05-03 17:30] cabeza-de-termo opened #108 "Feature request: generate paths with the same DSL as they are defined"
Currently the path for an action can be generated using a method that follows an implicit naming convention:

[code]

I think that might be a Rails reminiscence and find it unintuitive (that is manifested by the fact of needing to use a 'routes' command to see the named paths of the routes).
A more intuitive and direct approach might be to allow to generate the paths using the same DSL used to def

[2016-05-20 13:08] jodosha commented on #108
@cabeza-de-termo Thanks for this suggestion, but I'm careful about the learning curve from Rails to Hanami. The less we change in these small details, the better is for newcomers.

[2016-05-20 13:08] #108 closed

[2016-05-20 13:09] jodosha commented on #103
Fixed by https://github.com/hanami/utils/pull/139

[2016-05-20 13:09] #103 closed

[2016-06-05 15:22] justin-rhoades opened #112 "Assigned but unused variables"
When running tests in router and in Hanami, there are two warnings for assigned but unused variables.

```/.rvm/gems/ruby-2.3.1/gems/http_router-0.11.2/lib/http_router/generator.rb:58: warning: assigned but unused variable - generator```
- This may be here for clarification purposes

and

```/.rvm/gems/ruby-2.3.1/gems/http_router-0.11.2/lib/http_router/route_helper.rb:99: warning: assigned but unu

[2016-06-05 15:56] justin-rhoades commented on #112
Wow never mind. This was totally my bad, too early in the morning. Obviously this is an issue with the http_router gem -_-

[2016-06-05 15:56] #112 closed

[2016-06-07 16:11] jodosha commented on #112
@justin-rhoades There is an open PR in `http_router` repository. Maybe you can upvote it. Thanks! https://github.com/joshbuddy/http_router/pull/47

[2016-06-20 08:54] lasseebert opened #114 "Possible to have namespace with variable?"
I have something like this:

[code]

Is it possible to somehow wrap all routes that starts with `/:id` into a block. Something like this:

[code]

Thanks.

[2016-06-20 09:57] jodosha commented on #114
@lasseebert I think this could be useful. Because you're directly involved with this enhancement, do you want to implement it? Thanks!

[2016-06-27 07:26] jodosha opened #115 "Unrecognized route causes a NoMethodError"
[code]

[2016-06-27 08:36] vladimirich commented on #115
Can I take this issue?

[2016-06-27 10:10] vladimirich commented on #115
@jodosha any tips, how can I reproduce this bug?

[2016-06-29 07:32] vladimirich commented on #115
Ok, seems like I got this. You have no routes at all, something like

[code]

[2016-07-06 11:01] jodosha commented on #115
@vladimirich It doesn't just happen when the router is blank, but when the requested route is missing.

[2016-07-06 13:00] #115 closed

[2016-07-06 13:01] jodosha commented on #114
I'm closing this as stale ticket. @lasseebert Feel free to reopen in case you still need it. Thanks!

[2016-07-06 13:01] #114 closed

[2016-07-06 13:11] lasseebert commented on #114
Roger. I haven't had time to look at a solution yet. Will reopen if I find time to implement the feature ;)

[2016-07-26 02:18] jamesdabbs commented on #87
Hey folks. I'm mucking around trying to get Hanami running on Rack 2 and ran into an issue with one of these tests that I thought would be good to bring up. Here's what I found -

At and around https://github.com/joshbuddy/http_router/blob/master/lib/http_router/node/path.rb#L32, the behavior of a Rack Request has changed. The salient difference is that in Rack < 2, `request.rack_request.dup.env`

[2016-08-04 20:37] davidpelaez opened #119 "Cannot control default reponse"
Hi.

We use Hanami Router for our internal JSON microservices. The default response cannot be controlled at the moment from I could get from the structure of https://github.com/hanami/router/blob/555f044ae79b367c0df92256a7d8c9154e71e478/lib/hanami/routing/endpoint_resolver.rb#L19

I tried monkey patching the class and even in that case it won't work. This is problematic in our use case because we

[2016-08-08 08:02] jodosha commented on #87
@jamesdabbs Thanks for having a look at this issue with Rack 2. The ideal scenario would be to support Rack >= 1.6 (so 2.0 is included).

The improved spec in your fork makes sense, but we should find a way to make it to pass for both Rack versions.

At this point backward compat is more important than Rack 2. This because we have more Ruby web apps still running on Rack 1.6 (see Rails 4, Hanami e

[2016-08-08 08:18] jodosha commented on #119
@davidpelaez Hi, this is undocumented because it comes from `http_router`, but you can already do exactly what you want via `default_app:` instead of `default`. See https://github.com/joshbuddy/http_router#usage

[2016-08-08 08:18] #119 closed

[2016-08-10 16:26] cyphactor commented on #87
@jamesdabbs when you say "`request.rack_request.dup.env` is the same object as `request.rack_request.env`" do they actually share the same object id?

Duping rack requests is a common way of protecting things to support multi-threading. It is also used at the rack middleware/app level for the same reason. I am not sure that is the reason in this particular case but possibility worth exploring.

ht

[2016-09-08 16:29] TiteiKo opened #121 "Mounting app after url parameter"
Hi all,

My title is terrible, sorry, can't figure out how to name it, but anyway, here's the thing:

I'm currently switching an app from rails to hanami. No changes in urls are possible.

Urls are of the following form: `(/:locale)/rest/of-the/url`, so, for example: `/en/admin/users` would go to Admin::Users::Index with locale en in its params.

What I've tried so far:
- using a fixed namespace t

[2016-09-09 13:07] AlfonsoUceda commented on #121
Hi @titeiko have you tried `mount Admin::Application, at: '/:locale/admin'` without parenthesis? I am just writing without trying in the laptop because I'm not in front of it.

[2016-09-09 14:18] TiteiKo commented on #121
@AlfonsoUceda Yep, same problem in urls generation with and without parenthesis. Generated urls looks like `/:locale/admin/users?locale=en`

[2016-09-09 14:48] AlfonsoUceda commented on #121
I'll try to take a look this weekend @titeiko

[2016-09-12 15:52] AlfonsoUceda commented on #121
Hi @TiteiKo I was researching the problem and it seems, there is a bug that you can't use `variables` in the container. So I have to see how I can fix it, sorry for the problem :(

[2016-09-12 15:55] TiteiKo commented on #121
Hi @AlfonsoUceda
Thanks for your time and the update! Glad I could uncover a bug, and no problem, Hanami's not supposed to be stable yet, and I'll still be able to work in the meantime, it's the last thing on my backlog for v1 ;)

[2016-10-09 03:24] createdbypete opened #122 "Class endpoints causing problem with cookies in Hanami container app"
This may or may not be problem with the Hanami Router but since I have isolated this part as the trigger for the problem when testing I am opening the issue here but if could turn out to be an issue within Hanami Controller.
## The Problem

While developing a Hanami application (in the container architecture) I experienced a strange issue in production where the contents of a cookie would only be

[2016-10-17 11:41] jodosha opened #124 "Parsed body overrides params from URI interpolation"
When _body parsers_ are activated, they "merge" the params inside the payload of a non-GET request with the params passed in the URI.

The problem with the actual implementation is that the params from the payload have higher priority than the ones interpolated from the URI.
---

**Example:** Given the following route:

[code]

If we pass `:id` in the payload of the PATCH request, it takes precede

[2016-11-09 14:18] #124 closed

[2016-11-09 14:24] jodosha commented on #121
@TiteiKo @AlfonsoUceda Hi, this isn't a bug, it's just not possible to do so at the moment.

---

Because @TiteiKo is interested in this change, I suggest her to implement it.
At this point in time, it's beneficial that Hanami shareholders can write enhancements or features for real world apps.

[2016-11-09 14:28] jodosha commented on #122
@createdbypete Hi! Why do you need to map actions as instances instead of using the default syntax? I'm not saying it shouldn't be possible, I'm just genuinely curious. 😉

Can you please write a fix for this problem?

[2016-11-09 17:25] TiteiKo commented on #121
@jodosha I'd be glad to, and I've tried, before submitting this issue and again today...

@AlfonsoUceda Do you have any lead I could look into?

[2016-11-09 17:47] AlfonsoUceda commented on #121
Hi @TiteiKo

You can start [here](https://github.com/hanami/router/blob/master/lib/hanami/routing/http_router.rb#L80), the prefix in the container ends in that variable, when I was tackling this, one of my ideas was creating a class to handle that, replace `:variables` in that prefix with options passed to the path or url to generate.

[2016-11-09 19:56] childss opened #126 "Dasherized Route Support"
I'm hoping to add or help add support to Hanami for resolving endpoints for dasherized routes in a manner consistent with underscored routes. That is:

[code]

I previously attempted this in hanami/utils#168 but it was rightly pointed out that my solution breaks the Ruby naming convention. @cllns suggested adding an option to the router to support this so that's what I've investigated next:

[code

[2016-11-10 13:13] jodosha commented on #126
@childss Hi! I think you can go straight with `Utils::String.new(string).dasherize.classify`, **without** any extra configuration (`:dasherized_routes`). Thank you!

[2016-11-11 04:11] createdbypete commented on #122
Hey @jodosha originally it was while playing around with adding action dependencies to the initializer, obviously I could provide a default value but that wasn't what I was trying out.

I did try and find a way to fix this issue but I have to admit I got a bit lost and frustrated when I was trying to work out which component was the cause so could focus my efforts. This is why I dumped everything

[2016-11-23 14:49] #126 closed

[2016-12-01 13:06] choallin opened #131 "Nested resources with a dynamic part in the URL"
I want to be able to call a url like this:

and also

to be able to add relations to my post. In my use case it is possible to handle both, the comment and the tag routes in one controller/action. So, it would be great to have this as a optional dynamic part of the router.
Something like this:
[code]

[2016-12-15 21:11] Neodelf opened #133 "Rubocop"
Hi there!
I am look that `rubocop` not used in this project.
Used settings from `hanami` repository with `--auto-correct` get result is:
[code]
It may be worth adding it?

[2016-12-19 10:16] jodosha commented on #133
@Neodelf Yes, definitely. We're slowly adding Rubocop to all the Hanami repositories.

There is a reason why some of them were left behind: we expect to rewrite areas of these gems. For instance, after 1.0, Hanami CLI will be rewritten. So it was useless to add Rubocop now.

[2016-12-19 10:16] #133 closed

[2017-01-05 11:28] jodosha opened #136 "Make hanami-router compatible with Rack 2.0 only"

[2017-01-05 13:31] pascalbetz commented on #136
I found the problem to be this part:

[code]
(https://github.com/hanami/router/blob/master/test/request_url_test.rb#L43)

With Rack 2.0.1 `SCRIPT_NAME` and `PATH_INFO` are swapped. Any hints how/why this happens?

[2017-01-05 13:42] jodosha commented on #136
@pascalbetz Please investigate, I don't know why.

[2017-01-06 07:40] pascalbetz commented on #136
Infos from gitter chat (thx @jodosha):

[2017-01-06 09:19] pascalbetz commented on #136
After digging through `http_router` and `rack` and `hanami-router`

The _Rack Request_ is duplicated in `http_router` in a dynamically generated method in `Node::Path#to_code` (https://github.com/joshbuddy/http_router/blob/master/lib/http_router/node/path.rb#L32)

[2017-01-06 23:23] pascalbetz commented on #136
There is a an open PR at http_router (https://github.com/joshbuddy/http_router/pull/48) which would fix the problem.

0. Wait until it gets merged
1. Monkey Patch http_router
2. Stick with rack 1.6
3. Replace http_router

Given that 0. is unlikely to happen and there are plans to replace http_router sometimes I'd go for 1. Did I miss something?

[2017-01-06 23:41] jodosha commented on #136
Thanks for the detailed analysis. Let me reply line by line.

0. http_router isn't maintained anymore. We can't wait for a merge.
1. This is the viable solution: change the http_router version in our gemspec to a strict release number and monkey-patch.
2. As we're approaching 1.0, we should get rid of the old deps that we don't want to maintain for the upcoming years.
3. I tried to hack for a coup

[2017-01-06 23:48] pascalbetz commented on #136
@jodosha thx for feedback. Now that I think about there is also

4. clone and release our own version of http_router

[2017-01-07 09:08] jodosha commented on #136
4. Do we want to support it for the upcoming years? My answer is no 😉

http://lucaguidi.com

[2017-01-07 13:37] sergey-koba-mobidev opened #138 "Optional tokens are not being accepted by 'path'"
Hi,

Thank you for nice gem! I am using it as standalone gem in my Rack app.
I have such route in it:
`get '(/:lang)/article/:slug', lang: /en/, to: 'posts#show', as: :show_post`

When I call `@router.path(:show_post, slug: 'blabla')` is works as expected.
But trying to do
`@router.path(:show_post, slug: 'blabla', lang: 'en')`
raises exception:
`Hanami::Routing::InvalidRouteException: No route (pa

[2017-01-07 13:40] #138 closed

[2017-01-07 13:42] sergey-koba-mobidev commented on #138
Sorry, figured out it was a constraint exception

[2017-01-07 19:18] AlfonsoUceda commented on #131
@choallin sorry for the late response, it would be great is you want to make a PR ;)

[2017-01-07 19:32] AlfonsoUceda commented on #131
Hi @choallin, thanks for the issue.

It doesn't make sense use that `url` parameter, would you use that url for all http methods? One thing, you can use`get`, `post`, `put` and `delete` methods instead using `resources`.
[code]
IMO I think you should to send that type in the body of the request, that kind of url it has more sense for a get request.

[2017-01-10 11:54] #136 closed

[2017-01-10 12:04] jodosha commented on #131
@choallin I'm sorry, but that would complicate the internals of the framework and it's counterintuitive to me.

What about this?

[code]

[2017-01-10 12:04] #131 closed

[2017-01-10 12:06] jodosha commented on #122
I'm closing this because, it's not high priority and because we'll discuss after 1.0 how to improve Dependency Injection in Hanami.

[2017-01-10 12:06] #122 closed

[2017-01-10 14:04] jodosha commented on #121
@TiteiKo Is this something still interesting for you to implement?

[2017-01-10 14:20] choallin commented on #131
I like this way more.
Only question: What urls would this generate in your opinion?

[2017-01-10 15:35] jodosha commented on #131
@choallin It should generate `/tags/relationship/:type`, but I haven't tried it manually. Is my assumption wrong?

[2017-01-10 18:32] AlfonsoUceda commented on #131
@jodosha it should be:
[code]

[2017-01-11 06:53] choallin commented on #131
Sorry, I think I didn't make myself clear so you can't understand what I want this feature for.
I wanted this feature to be able to make a jasonapi compliant realtionship creation/querying
So the urls I want are looking more like this:

GET               http://server/tag/1/relationships/users
PATCH           http://server/tag/2/realtionships/posts
POST             http://server/tag/4/relationship

[2017-01-11 14:05] mereghost commented on #131
@choallin From what I get you won't need endpoints like `tags/1/relationships/users/1`, right?

If that's the case, the whole routes is decoupled from entities (and the ORM) so you could manage to do this like:
[code]
That would generate `/tags/:id/relationships/:relationships/:id`, the trick is: id can be anything and you can handle the params you allow on your `Action` by a simple validator chec

[2017-01-11 14:09] choallin commented on #131
@mereghost That is a great idea! Id is of course not bound to be a number...

[2017-01-19 07:36] TiteiKo commented on #121
@jodosha Not ATM, no. I've tried to do it, but without success. I'll use a rewrite rule on nginx to go from `/:locale/admin` to `/admin/:locale`
After looking at the code, I think it would make a lot of changes for a very specific need that would probably not occur on a fresh new project.

[2017-01-19 07:36] #121 closed

[2017-01-19 08:27] jodosha commented on #121
@TiteiKo Thank you 😄

[2017-03-20 09:53] jodosha opened #144 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-26 08:45] morrme commented on #144
It is almost a week from when you posted this, are you still seeking help ?

[2017-03-26 10:50] jodosha commented on #144
@morrme Yes, we do.

[2017-03-31 11:27] jodosha commented on #144
@morrme Are you working on this?

[2017-03-31 11:39] morrme commented on #144
@jodosha i am working on /helpers, just going over the files before i PR

[2017-03-31 12:38] jodosha commented on #144
@morrme Thanks for the update 👍

[2017-04-05 06:18] morrme commented on #144
OK, I have completed the files for this one now as well. I may need some help with the file structure, but in the meantime I will set up the PR to see if any other changes need to be made.

[2017-04-06 02:35] morrme commented on #144
I am researching the remaining problems, and I welcome advice:

--the test cases (generate and recognition) may need to be totally rewritten
--there's a test that uses the "must_be_same_as" matcher that doesn't have a good synonym in RSpec.
Example here: https://github.com/hanami/router/blob/master/test/routing_test.rb#L102

I have been experimenting with changing the "response" and using an "incl

[2017-04-06 14:31] jodosha commented on #144
@morrme

Why, specifically?

[code]

Shouldn't this work? `be` assets for object identity.

[2017-04-06 14:32] jodosha commented on #144
@morrme

What's the reason for this change?

[2017-04-06 19:14] morrme commented on #144
@jodosha Thanks for your comments.

The `be` test indeed worked.

I did not have to re-write the test cases, just add a couple of lines.

And everything passed! :+1:

[2017-04-10 15:08] jodosha commented on #144
Implemented by #145

[2017-04-10 15:08] #144 closed

[2017-06-22 08:04] kaikuchn opened #147 "redirect route destination not wrapped in `Routing::Endpoint`"
Hey folks,

@padget stumbled on a bug in hanami-router. After some digging around I found out what's broken. So here's the issue report.

Suppose you have the following routes definition:

[code]

When you visit `/redirect-me` in the browser you will get redirected. And everything seems to work.
However, when you want to write a test case like this:

[code]

You will receive this error:

[code]

T

[2017-06-22 08:06] kaikuchn commented on #147
Here's the monkey patch that fixes this in the mean time, for anyone who absolutely needs this to work..

[code]

[2017-07-05 15:28] jodosha commented on #147
@kaikuchn Hi and sorry for the late reply. Can you please review this fix? #149

[2017-07-06 07:57] kaikuchn commented on #147
@jodosha No worries! I'll be able to take a look at it over the weekend.

[2017-07-10 08:24] #147 closed

[2017-11-05 15:40] Fedcomp opened #151 "routing based on request body"
Is there a way to route based on request body? say i want `{"type":"confirmation"}` to be routed to `Api::Confirmation`, and `{"type":"validation"}` to `Api::CheckValidation`. Of course i can make custom routing action, but i would like it to be in form of:
[code]
thoughts?

[2017-11-06 12:59] jodosha commented on #151
@Fedcomp I don't think this is something we would consider. It's an edge case, and it requires to parse the HTTP body, before to route the request. This last detail can make the router slow.

[2017-11-06 12:59] #151 closed

[2017-11-06 13:54] kaikuchn commented on #151
While you can make the body accessible by [enabling body parsing](https://github.com/hanami/router#body-parsers) (which are disabled by default for performance reasons), it is only accessible in the callable that matches the route. A fancy constraint like the one you suggested is not possible in the underlying [http_router gem](https://github.com/joshbuddy/http_router). At least as far as I know.

[2017-11-06 13:56] Fedcomp commented on #151
@kaikuchn thanks for the answer!

[2017-11-06 15:44] jodosha commented on #151
@kaikuchn Thanks for bringing that extra, custom solution.

[2017-11-07 08:09] malin-as opened #152 "Using a variable in a namespace"
Hi,

In order to have some internationalisation support on a project, I decided to give a try to URLs of the form `https://server/en/home` where `en` is the chosen locale for the interface. I played a bit with `namespace`:

[code]

This actually works, but I'm afraid it was not designed for that purpose (and might stop working in a future version), since it's impossible to set a filter on it, and

[2017-11-07 12:54] jodosha commented on #152
@malin-as This looks as a great addition. Please give it a try.

[2017-11-11 22:02] AlfonsoUceda commented on #152
@malin-as maybe we don't need to amend namespace, what I think is we can add a new word for that porpuse and the word comes to my mind is `scope`, what do you think?

IMO namespace is designed to other purpose so I prefer to add a new word like `scope` or other name.

[2017-11-14 04:53] malin-as commented on #152
@AlfonsoUceda I don't see clearly what the difference would be between them, from the point of view of a Hanami user. The way I see it, `namespace` would become just a special case of `scope`, when there's no variable involved.

Either way, I'm having trouble with the internal plumbing, trying to figure out how hanami-router and http_router interact exactly, and what http_router is compiling for e

[2017-11-14 14:09] jodosha commented on #152
@AlfonsoUceda Can you please expand what you mean and what are the differences between _namespace_ and _scope_? Thanks!

[2017-11-14 16:52] AlfonsoUceda commented on #152
Just if it makes easier the implementation, _namespace_ will create a namespace in ruby and _scope_ just to work with variables.

[2017-11-14 18:25] jodosha commented on #152
@AlfonsoUceda but having `#namespace` to dynamically create a Ruby namespace is a breaking change. Am I missing something?

[2018-03-29 13:00] jodosha commented on #152
Closing as stale conversation. Is someone wants to take care of this feature, please reopen this issue.

[2018-03-29 13:00] #152 closed

[2018-04-12 17:06] jodosha opened #159 "Use `dry-inflector`"
RESTful resources' relative URI are generated by pluralizing/singularizing the resource name.
Internally these inflections are handled by `Utils::String.pluralize` and `.singularize`. These two methods will be removed in Hanami 2.0, alongside with `Utils::Inflector`.

For this reason, starting from 2.0, `hanami-router` should use `dry-inflector`. The main difference between `Utils::Inflector` and

[2018-04-13 13:46] jodosha opened #160 "Deprecate Force SSL"
Force SSL feature makes the internal of `Hanami::Router#call` complicated.

Given there are better Rack based alternatives (as middleware), or NGINX rewriting rules, I don't see the point of keeping this feature here.

  - [x] Deprecate using `Hanami::Utils::Deprecation`

---

This change **MUST** go to `develop` branch.

---

Ref https://trello.com/c/fQw5F4Hp

[2018-04-13 13:49] jodosha opened #161 "Remove Force SSL"
Force SSL was deprecated starting from v1.3.0

  - [x] Remove the feature

---

This change **MUST** go to `unstable` branch.

---

Ref https://trello.com/c/fQw5F4Hp
Ref https://github.com/hanami/router/issues/160

[2018-04-13 14:20] jodosha opened #162 "Extract Body Parsers"
Body Parses feature makes the internal of `Hanami::Router#call` complicated.

We can extract into a Rack middleware and invite developers to mount before the request will hit the router.

  - [ ] Extract body parsers into a Rack middleware
  - [ ] Deprecate `:parsers` option for `Hanami::Router#initialize` using `Hanami::Utils::Deprecation`

---

This change **MUST** go to `develop` branch.

---

[2018-04-13 14:21] jodosha opened #163 "Remove Body Parsers"
Body Parsers were deprecated in v1.3.0

  - [ ] Remove body parsers from `Hanami::Router`

---

This change **MUST** go to `unstable` branch.

---

Ref https://trello.com/c/fQw5F4Hp
Ref https://github.com/hanami/router/issues/162

[2018-04-13 14:26] jodosha opened #164 "Remove body cleanup for HEAD HTTP requests"
`Hanami::Router` 1.x empties the body if the HTTP request is using HEAD verb.

While this is formally correct, and makes the router "full featured", we have the same control in `hanami-controller` and `hanami`. This makes a total of three times for each request. The idea is to use `Rack::Head` from `rack` gem instead of these custom controls.

Developers who are using `hanami-router` as standalone

[2018-04-13 14:29] jodosha opened #165 "Implement a new routes inspector"
During the rewriting of `hanami-router` I had to disable router inspector feature because of the tons of spec failures.

Before to release v2.0.0, we must implement a new inspector.

[2018-04-13 14:30] jodosha opened #166 "Programmatical access to routes"
This is a request from @solnic: we should ensure that `Hanami::Router` offers a programmatical access to its routes.

---

Ref https://trello.com/c/lV4KEFRy

[2018-04-24 13:06] jodosha commented on #159
Implemented by https://github.com/hanami/router/pull/168

[2018-04-24 13:06] #159 closed

[2018-04-26 12:56] jodosha commented on #160
Implemented by https://github.com/hanami/router/pull/167

[2018-04-26 12:56] #160 closed

[2018-05-16 14:25] davydovanton commented on #165
Also, more ideas. I think it will be cool to get users access to routers AST for creating any inspectors which they want.

Something like:
[code]

And after that anyone can create own inspectors instead existed. WDYT?

[2018-05-16 15:36] jodosha commented on #165
@davydovanton The router doesn’t have an AST, it’s just an array of routes that preserves the order of declaration. Because that order is important during the match of the routes (for incoming HTTP reqs), I’d preserve that order for the inspector as well. The AST can’t represent that order, which is useful for troubleshooting.

[2018-07-07 19:03] AlfonsoUceda commented on #166
@jodosha @solnic can you expand the description of this issue? just to know what your thoughts are.

[2018-07-09 06:56] AlfonsoUceda commented on #161
Closed by #171

[2018-07-09 06:57] #161 closed

[2018-07-24 11:36] GustavoCaso commented on #162
Solved with #175

[2018-07-24 11:36] #162 closed

[2018-08-07 08:25] jodosha commented on #166
@solnic Ping. 😸

---

FWIW the new router has `@routes` instance variable, which is an array of `Hanami::Routing::Route`. Each route object has a complete set of information regarding the path, the name, and the endpoint.

https://github.com/hanami/router/blob/unstable/lib/hanami/routing.rb#L102

---

There is a no longer used getter `Hanami::Router#routes` that we can use to return `@routes`. In

[2018-08-08 15:07] GustavoCaso commented on #163
Implemented by #176

[2018-08-08 15:07] #163 closed

[2018-09-14 11:47] timriley opened #179 "BodyParser's fallback "_" key in env["router.params"] unnecessary for typical x-www-form-urlencoded bodies?"
Hi gang (/cc @jodosha @GustavoCaso)

Today I [pushed a branch to hanami/controller](https://github.com/hanami/controller/compare/unstable...update-specs-for-router-body-parser-middleware) with updated specs for the new `BodyParser` middleware that was introduced here in v1.3.0.beta1.

Making this change raised some new failing specs in hanami/controller. Here's an example:

[code]

As you can see,

[2018-09-17 08:26] jodosha commented on #179
The `FALLBACK_KEY` was introduced by #86 for a problem spotted in production (#85) for JSON arrays.

---

@timriley I agree with your analysis: we shouldn't attempt to parse a HTTP body if there isn't a matching parser for the current request.

If this change will not produce any breaking change. I'm 👍 for it. Thanks!

[2018-10-10 06:52] jodosha commented on #179
Fixed by #181

[2018-10-10 06:52] #179 closed

[2018-11-14 17:50] deepj opened #183 "http_router dependency generates `warning: URI.unescape is obsolete`"
When I run `hanami-router` specs. I'm getting a bunch of the following warning from `http_router`:

[code]

The question is if `hanami-router`would depend on `http_router` since the gem hasn't been updated since 2016.

[2018-12-16 16:18] AlfonsoUceda commented on #183
@deepj yep, but `http_router` has been replaced in `hanami-router` v2.0 so we won't have a stale dependency anymore.

[2018-12-16 16:19] #183 closed

[2019-07-29 14:16] waiting-for-dev opened #190 "Standalone routing with method override"
It seems it is not possible to route to a rack application using `Rack::MethodOverride` middleware with browser not supported methods like `DELETE` or `PUT`.

Script reproducing the issue:

[code]
Then:

[code]

[2019-07-29 14:54] jodosha commented on #190
@waiting-for-dev You cannot use `Hanami::Router` like that. In the code above you're mounting `Rack::MethodOverride` **inside** the router.

The logic that turns `_method` into a meaningful HTTP method for the router is **inside** the router, so it will never get hit.

What you want to do is this instead:

[code]

  1. Use the implicit builder of `config.ru`. Alternatively you can wrap both `use R

[2019-07-29 14:54] #190 closed

[2019-07-29 15:09] waiting-for-dev commented on #190
Oh! Thanks for the clarification @jodosha , that makes sense :)

[2019-10-03 15:48] jodosha commented on #166
Closing as not actionable.

[2019-10-03 15:48] #166 closed

[2020-04-05 16:12] olivierlacan commented on #183
@AlfonsoUceda It's been over a year and hanami-router 2.0 isn't out of alpha? Any plan to suppress this deprecation warning in a patch release or perhaps any progress on 2.0 RC?

I'd love to help if there are blockers to reach RC. I've started using hanami-router on bare Rack apps and loving the experience so far.

[2020-04-06 09:06] jodosha commented on #183
@olivierlacan Thanks for your interest. I recommend using `hanami-router` `v2.0.0.alpha2`. It's a rewrite from `v2.0.0.alpha1`, with astonishing perf results.

This new alpha powers the new `hanami-api`.

Read more at:

  * https://github.com/hanami/router/pull/199
  * http://hanamirb.org/blog/2020/02/26/introducing-hanami-api/
  * https://twitter.com/jodosha/status/1230767011375902723

If you hav

[2020-05-26 21:25] ElMassimo commented on #165
When designing a new inspector, it would be nice to consider what it would take to support generating [`Open Api`](http://spec.openapis.org/oas/v3.0.3) documentation [from the routes](https://jooby.io/modules/openapi/).

Even if implemented as a separate library, a good design for the inspector would really simplify the implementation.

[code]

[DSL inspiration](https://sorbet.org/docs/quickref).

[2021-01-18 11:42] jodosha commented on #165
@ElMassimo That should be part of `hanami-api`, `hanami-router` doesn't have all the information needed to achieve what you requested.

[2021-01-18 11:42] jodosha commented on #165
Implemented by https://github.com/hanami/router/pull/208

[2021-01-18 11:42] #165 closed

[2021-03-05 13:41] artjomjuferov opened #213 "Warning: URI.unescape is obsolete"
I have just created a fresh Hanami project.

And getting `/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/http_router-0.11.2/lib/http_router/request.rb:10`

I have seen some topics and solutions for this issue. Is it only happening for my local setup?

That's my `Gemfile.lock`  https://gist.github.com/artjomjuferov/e0b0071da66a6f1b6d2eaf086dae729e

[2021-03-05 14:14] jodosha commented on #213
@artjomjuferov Thanks for bringing it to us. That is due to the fact `hanami-router` 1.x is based on top of `http_router`, which is old.

We already solved this issue for `hanami-router` 2 (see https://github.com/hanami/router/tree/unstable).

[2021-03-05 14:14] #213 closed

[2021-03-09 08:39] artjomjuferov commented on #213
@jodosha thanks for the clarification

[2021-05-21 15:21] nicrou opened #215 "Nested variables/resources"
Does version 2.0.0 (alpha5) supports nested resources like the previous version:

[code]

or at least multiple variables constraints i.e.` get "/authors/:author_id/books/:id", to: Action`?

[2021-05-21 15:50] cllns commented on #215
1. No, Hanami Router v2.0.0, by itself, does not support resourceful routing anymore. That feature was moved into `hanami/hanami`. See #199.
2. Yes, Hanami Router still supports multiple variables in the route:

[code]

Then visiting `http://localhost:2300/authors/900/books/123` shows: `Author ID: 900, Book ID: 123`

[2021-05-21 15:53] #215 closed

[2021-05-21 15:59] jodosha commented on #215
@nicrou This WILL be implemented in `hanami`, but it isn't part of `hanami-router` anymore.

Having that feature in the past forced `Hanami::Router` to be aware of Hanami conventions, have an internal string inflector, and being able to require/boot files. This complicated a lot the internals of the router, and its boot time.

As of 2.0 the router will be just a router (dispatch incoming HTTP requ

[2022-02-16 15:40] OrelSokolov opened #218 "Fake support for Ruby 3"
When using ruby 3.0.2

[code]

Steps to reproduce:

Create any dummy application, for example like this:
[code]

[2022-02-16 15:54] cllns commented on #218
@OrelSokolov You're using `hanami-router` v1.3.2, which only supports Ruby 2.x. That's because it's relies on the abandoned `http_router` gem, which doesn't support Ruby 3.

`hanami-router` was completely rewritten for v2. It's only had alpha releases so far, but it's quite stable and you can use it with Ruby 3. Just specify `v2.0.0.alpha6` as the version in your Gemfile

Closing, but feel free to

[2022-02-16 15:54] #218 closed

[2022-02-16 15:56] OrelSokolov commented on #218
@cllns ok, add note in README please

[2022-06-14 15:02] romankovt opened #220 "POST route recognised as GET"
Hello!

I'm following the README guide from the main branch (which points to v2.0.0.alpha6 now). The **Testing** section shows an example of how it does not recognize a POST route when the router has a route defined as GET.

[code]
But in fact, what I get is:
[code]

[2022-06-14 15:23] romankovt commented on #220
Upon further investigation it seems like the other examples when you recognize non String routes also don't work

[code]

[2022-09-20 10:14] ahx opened #227 "405 response does not include Allow header"
According to [the spec](https://www.rfc-editor.org/rfc/rfc9110.html#name-405-method-not-allowed) "The origin server MUST generate an [Allow](https://www.rfc-editor.org/rfc/rfc9110.html#field.allow) header field in a 405 response containing a list of the target resource's currently supported methods."

Currently the 405 response returned by hanami-router does not include an allow header.

Is this s

[2022-10-10 19:43] Jammjammjamm opened #228 "Surprising prefix behavior"
I use hanami router in a non-hanami application, and I found the current prefix handling to be very confusing. I decided to test its behavior using the following simple `config.ru` file with puma.

[code]
Trying out various prefixes, I see the following results:

|prefix|url|response status|
|---|---|---|
|`abc`|http://localhost:4567/abc|404|
|`abc`|http://localhost:4567/abc/|404|
|`/abc`|http://l

[2022-10-11 16:53] Jammjammjamm opened #229 "Unclear errors with differently named wildcard segments"
I encountered this issue while upgrading from 1.3.2 to 2.0.0.beta2 in a non-hanami app.

I updated my routing to something like this:
[code]
When running my request specs, I'd get the not very helpful error: `LocalJumpError: break from proc-closure`, with no indication where this error originates from (I did eventually trace the exception to https://github.com/hanami/router/blob/main/lib/hanami/ro

[2022-10-25 12:48] Jammjammjamm commented on #228
We're having to work around the trailing slash issue by not using `prefix` at all:
[code]

[2022-11-02 09:32] mikekreuzer opened #233 "URL fragments and routing"
I'm wondering if there's a way to route based on path fragments. Up until recently I wouldn't have seen the need, but with ActivityPub fragments seem to indicate part of a data object, eg in

[code]

/actor might return JSON describing a user, which includes a bunch of info including the public key they were using;
/actor#main-key could return just that key. Literally a fragment.

I can't see how

[2022-11-07 09:21] jodosha commented on #228
@Jammjammjamm Thanks for reporting.
Please remember that `prefix:` must be in form of `"/abc"`, not `"abc"`.

I added specs to ensure this would work as expected: https://github.com/hanami/router/pull/235

[2022-11-07 09:21] #228 closed

[2022-11-10 18:25] Jammjammjamm opened #237 "Exception when JSON body contains %"
One of our users [reported an error](https://github.com/onc-healthit/onc-certification-g10-test-kit/issues/338) which occurred when they were submitting an AJAX-based form. After some investigation, we discovered that the error was caused by the `%` character in the JSON body of the POST.

Here's a basic spec to demonstrate, it occurs with or without the json body parser:
[code]
The result:
[code]

[2022-11-11 13:42] jodosha commented on #237
@Jammjammjamm Sorry but there is nothing that we can do.
The bug is on Rack side.

Steps to isolate the problem in an IRb session:

[code]

[2022-11-11 13:43] jodosha commented on #237
@Jammjammjamm About the format of the spec above, I suggest to use proper Rack tooling to build your app:

[code]

[2022-11-14 15:22] Jammjammjamm commented on #237
I don't think this is a rack problem. The documentation for `Rack::Utils.parse_nested_query` says:

`router.rb` is explicitly calling it on things which aren't query strings, a JSON payload in this example. I've tried this with a bunch of different rack versions going back to 2.0.1, and they all exhibit the same behavior. The thing that broke this behavior is #217. If you point `hanami-router` at

[2022-11-14 16:50] wuarmin commented on #237
@Jammjammjamm thanks for pointing this out. Can you reopen the issue?

[2022-11-14 16:55] Jammjammjamm commented on #237
It doesn't look like I have permission to reopen issues.

[2022-11-17 12:12] jodosha commented on #237
@Jammjammjamm @wuarmin Could you please try with the patch here? https://github.com/hanami/router/pull/240

[2022-11-17 13:15] Jammjammjamm commented on #237
That seems to have resolved the issue for us.

[2022-11-17 13:23] #237 closed

[2022-11-17 13:44] jodosha commented on #229
@Jammjammjamm What does this means? Can you please show me the code?

[2022-11-17 13:51] Jammjammjamm commented on #229
If you change
[code]
to
[code]
it should work.

[2022-11-17 13:59] jodosha commented on #229
@Jammjammjamm Could you please check https://github.com/hanami/router/pull/241? I can't reproduce the `LocalJumpError`.

What am I missing?

[2022-11-17 14:39] Jammjammjamm commented on #229
I'm not having any luck reproducing it either at the moment. I'm seeing the same behavior as your spec.

[2022-11-17 18:35] jodosha commented on #229
@Jammjammjamm Thanks for reporting.

[2022-11-17 18:35] #229 closed